@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Lobster&family=Poiret+One&family=Public+Sans:ital,wght@1,100&family=Quicksand&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-image: url(https://images5.alphacoders.com/297/297005.jpg);
}

h2{
    font-family: 'Poiret One', cursive;
}

.text{
    font-weight: bold;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
}

select{
    font-weight: bold;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    cursor: pointer;
}

input[type=radio]{
    cursor: pointer;
}
